body {
    margin: 0;          /* Kills the white border */
    padding: 0;         /* Extra safety */
    overflow-x: hidden;  /* Prevents horizontal scroll */
    background-color: #000000;
}

section {
    padding: 2rem 0;  
  }

.section-content {
    max-width: 1200px;   
    margin: 0 auto;        
    padding: 0 2rem;       
}
/*
.colored-section {
    width: 100%;          
    padding: 2rem 0;      /* Reduced vertical padding (adjust as needed) */
 /* Your color 
}
*/

.intro-container {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
}

#profile {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%; /* Creates circle */
    border: 5px solid white; /* White circle effect */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional shadow */
}

/*
* {
    outline: 1px solid red !important; 
  }*/

.text-content {
    flex-grow: 1;
  }

#intro {
    padding: 2rem 0;
    width: 100%;    /* Center horizontally */
    background-color: #683ed3;
    color: #ededed;
}

#featured {
    background-color: #a17ff7;
    color: #ffffff;
}

#projects_grid {
    background-color: #ffffc1;
}

#footer {
    background-color: #a2d7ff;
}

.featured-project {
    float: left;
    width: 33.33%;
}
  
/* Clear floats after the columns */
.featured-work:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}